body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    background-color: #444;
}

h1, h2, h3, h4, h5, h6 {
    color: #9c1c1c;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

section{
    padding: 0 15px;
    margin-top: 80px;
}

#header {
    text-align: center;
}
  
@media (min-width: 575.98px){
    section {
      padding: 0 calc(50vw - 270px);
    }
}
  
@media (min-width: 767.98px){
    section {
      padding: 0 calc(50vw - 360px);
    }
}
  
@media (min-width: 991.98px) {
    section {
      padding: 0 calc(50vw - 480px);
    }
}
  
@media (min-width: 1199.98px){
    section {
      padding: 0 calc(50vw - 590px);
    }
}

th, td {
    border: 1px solid;
    border-color: whitesmoke;
    padding: 5px;
    padding-left: 10px;
    font-size: 12px;
}

tbody .past {
    background-color: grey;
}

div .text-center {
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

.heading {
    padding-bottom: 30px;
}

/* NAV CSS */
.topnav {
    background-color: #444;
    overflow: hidden;
    width: 100%;
}

.topnav a {
    float: left;
    color: #9c1c1c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}

.topnav a:hover {
    background-color: whitesmoke;
    color: #444;
}

.topnav a.active {
    background-color: whitesmoke;
    color: #9c1c1c;
}

.problem {
    width: 400px;
}

.img-responsive {
    width: 100%;
}

/* Contacts CSS */
ul.address {
    margin-top: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.address a {
    font-weight: 700;
}