body {
    font-family: 'Comic Sans MS', 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background-color: #444;
    font-weight: 500;
    background-color: #0a0a0a;
    background-image:
    -webkit-repeating-linear-gradient(315deg,#232323, #232323 10%, transparent 10%, transparent 50%),
    -webkit-repeating-linear-gradient(225deg,#232323, #232323 10%, transparent 10%, transparent 50%);
    background-image: 
    repeating-linear-gradient(135deg,#232323,#232323 10%, transparent 10%, transparent 50%),
    repeating-linear-gradient(-135deg,#232323,#232323 10%, transparent 10%, transparent 50%);
    background-size: 40px 30px;   
}

h1, h2, h3, h4, h5, h6 {
    color: #c92424;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 19px;
}

blockquote {
    text-align: right;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    transition: 0.3s;
}

tr:hover {
    background-color: rgba(66, 66, 66, 0.7);
}

tr.rating {
    background-image: url(../images/background/fire-png-transparent-2.png);
    background-repeat: repeat-x;
    background-size: 100px 100%;
    background-position-y: bottom;
}

tr.special {
    background-image: url(../images/background/confidential.png);
    background-repeat: repeat-x;
    background-size: 100px 100%;
    background-position-y: bottom;
}

a, summary {
    color: #e4a34e;
    font-weight: 700;
    text-decoration: underline;
}

p {
    text-align: justify;
}

.green {
    color: #33c048;
}

.red {
    color: #dd2b2b;
}

thead {
    text-align: center;
    font-weight: 600;
}

section{
    padding: 0 15px;
    margin: 10px;
    margin-top: 50px;
}

section#header {
    margin-top: 100px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#header img {
    float: left;
    max-width: 30vw;
}

section#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: auto;
    column-gap: auto;
}

section#gallery img {
    max-height: 350px;
    max-width: auto;
    margin: 5px;
}

#header {
    text-align: center;
}
  
@media (min-width: 575.98px){
    section {
      padding: 0 calc(50vw - 270px);
    }
    .glow {
        text-shadow: 0 0 16px rgb(0, 0, 0), 0 0 24px #ff4da6, 0 0 32px #ff4da6;
    }
}
  
@media (min-width: 767.98px){
    section {
      padding: 0 calc(50vw - 360px);
    }
    .glow {
        text-shadow: 0 0 16px rgb(0, 0, 0), 0 0 24px #ff4da6, 0 0 32px #ff4da6;
    }
}
  
@media (min-width: 991.98px) {
    section {
      padding: 0 calc(50vw - 480px);
    }
    .glow {
        animation: glow 1.2s ease-in-out infinite alternate;
    }
      
    @keyframes glow {
        from {
          text-shadow: 0 0 8px rgb(0, 0, 0), 0 0 16px rgb(65, 39, 39), 0 0 24px #e60073;
        }
        
        to {
          text-shadow: 0 0 16px rgb(0, 0, 0), 0 0 24px #ff4da6, 0 0 32px #ff4da6;
        }
    }
}
  
@media (min-width: 1199.98px){
    section {
      padding: 0 calc(50vw - 590px);
    }
    .glow {
        animation: glow 1.2s ease-in-out infinite alternate;
    }
      
    @keyframes glow {
        from {
          text-shadow: 0 0 8px rgb(0, 0, 0), 0 0 16px rgb(65, 39, 39), 0 0 24px #e60073;
        }
        
        to {
          text-shadow: 0 0 16px rgb(0, 0, 0), 0 0 24px #ff4da6, 0 0 32px #ff4da6;
        }
    }
}

th, td {
    border: 1px solid;
    border-color: whitesmoke;
    padding: 5px;
    padding-left: 10px;
    font-size: 14px;
}

tbody .past {
    background-color: grey;
}

.text-center {
    text-align: center;
}

.heading {
    padding-bottom: 30px;
}

/* NAV CSS */
.topnav {
    background-color: rgba(51, 51, 51, 0.9);
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
}

.topnav a {
    float: left;
    color: #e4a34e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    transition: 0.3s;
}

.topnav a:hover {
    background-color: whitesmoke;
    color: #333;
}

.topnav a.active {
    background-color: whitesmoke;
    color: #9c1c1c;
}

.problem {
    width: 400px;
}

.img-responsive {
    max-width: 100%;
}

/* Contacts CSS */
section#contacts {
    border-top: whitesmoke;
    background-color: #333;
}

#contacts .heading {
    padding-top: 10px;
    color: whitesmoke;
}

ul.address {
    margin-top: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.address a {
    font-weight: 700;
    color:whitesmoke;
    text-decoration: none;
}


/* Summary custom */
summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;} 
summary {
   padding: .3em .5em .3em .4em;
   display:inline-block;
   cursor: pointer;
}

summary:after {  
  content: "+";
  margin-left: .3em;
  display: inline-block;
  transition: transform .5s;
}

details[open] > summary:after {
  transform: scale(1,-1);
}

summary ~ * {
   padding:0 1em 0 1em;
}

details[open] summary ~ *{ 
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}
